<div class="buy-apartament-info-house">
    <div class="Materials">
        <div class="title-parking">
            <p>
                Тип дома
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoHouse[typeOfHouse]" id="radio65" class="parking-Materials" value="Кирпич">
                <label for="radio65">Кирпич</label>
            </div>
            <div>
                <input type="radio" name="infoHouse[typeOfHouse]" id="radio66" class="parking-Materials"
                    value="Монолит">
                <label for="radio66">Монолит</label>
            </div>
            <div>
                <input type="radio" name="infoHouse[typeOfHouse]" id="radio67" class="parking-Materials" value="Панель">
                <label for="radio67">Панель</label>
            </div>
            <div>
                <input type="radio" name="infoHouse[typeOfHouse]" id="radio68" class="parking-Materials"
                    value="Кирпич-монолит">
                <label for="radio68" class="monolith-Brick">Кирпич-монолит</label>
            </div>
            <div>
                <input type="radio" name="infoHouse[typeOfHouse]" id="radio69" class="parking-Materials" value="Блок">
                <label for="radio69">Блок</label>
            </div>
        </div>
    </div>
</div>