<div class="buy-amenitiesAndDetails">
    <div class="type-details">
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details1" class="sell-details-button"
                value="Интернет">
            <label for="details1"><img src="/wifi.png" alt="">Интернет</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details2" class="sell-details-button"
                value="Холодильник">
            <label for="details2"><img src="/file-refrigerator-icon-1167196.png" alt="">Холодильник</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details3" class="sell-details-button"
                value="Мебель на кухне">
            <label for="details3"><img src="/kitchen.jpg" alt="">Мебель на кухне</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details4" class="sell-details-button"
                value="Кондиционер">
            <label for="details4"><img src="/conditioner.png" alt="">Кондиционер</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details5" class="sell-details-button"
                value="Мебель в квартире">
            <label for="details5"><img src="/mebel.png" alt="">Мебель в квартире</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details6" class="sell-details-button"
                value="Лифт">
            <label for="details6"><img src="/elevator.jpg" alt="">Лифт</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details7" class="sell-details-button"
                value="Мусоропровод">
            <label for="details7"><img src="/garbage.jpg" alt="">Мусоропровод</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details8" class="sell-details-button"
                value="Консьерж">
            <label for="details8"><img src="/hostel.png" alt="">Консьерж</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details9" class="sell-details-button"
                value="Закрытая территория">
            <label for="details9"><img src="/boom-barrier.png" alt="">Закрытая территория</label>
        </div>
    </div>
</div>


