<div class="buy-apartament-info-apartament">
    <div class="Materials">
        <div class="title-parking">
            <p>
                Тип дома
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[statusType]" id="radio50" class="parking-Materials"
                    value="Аппартаменты">
                <label for="radio50">Аппартаменты</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[statusType]" id="radio51" class="parking-Materials"
                    value="Жилой фонд">
                <label for="radio51">Жилой фонд</label>
            </div>
        </div>
    </div>
</div>

