<div class="commission">
    <div class="Materials">
        <div class="title-parking">
            <p>
                Комиссия агента
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="text" name="amenitiesAndDetails[agentCommission]" placeholder="Процент/%"
                    class="inputCommission">
            </div>
            <div>
                <button class="Agent-commission1">0%</button>
            </div>
            <div>
                <button class="Agent-commission2">50%</button>
            </div>
            <div>
                <button class="Agent-commission3">100%</button>
            </div>
        </div>
    </div>
</div>