<div class="dom-amenitiesAndDetails">
    <div class="type-details">
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details31" class="sell-details-button"
                value="Канализация">
            <label for="details31"><img src="/water-pipe.png" alt="">Канализация</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details32" class="sell-details-button"
                value="Электросеть">
            <label for="details32"><img src="/rozetok.png" alt="">Электросеть</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details33" class="sell-details-button"
                value="Газ">
            <label for="details33"><img src="/industry.png" alt="">Газ</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details34" class="sell-details-button"
                value="Бильярд">
            <label for="details34"><img src="/bilard.png" alt="">Бильярд</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details35" class="sell-details-button"
                value="Сауна">
            <label for="details35"><img src="/banya.png" alt="">Сауна</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details36" class="sell-details-button"
                value="Бассеин">
            <label for="details36"><img src="/swimming.png" alt="">Бассеин</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details37" class="sell-details-button"
                value="Кухня">
            <label for="details37"><img src="/kitchen.jpg" alt="">Кухня</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details38" class="sell-details-button"
                value="Отопление">
            <label for="details38"><img src="/otoplenie.png" alt="">Отопление</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details39" class="sell-details-button"
                value="Водопровод">
            <label for="details39"><img src="/water-pipess.png" alt="">Водопровод</label>
        </div>
    </div>
</div>

















