<div class="filePhoto">
    <div class="type-Layout">
        <h3>Планировка</h3>
        <p>
            Загрузите изображение вашей планировки. Объявления с планировкой квартиры более привлекательны
            для покупателей
        </p>
        <div id="photoLabelConteiner">
        </div>
        <label for="fileInput" class="fileInputLabel">
            <div class="fileInputStyle">
                <img src="/pngegg.png" alt="">
                <p>Добавить планировку</p>
            </div>
            <input type="file" name="imgLabel[]" id="fileInput" class="fileInput" multiple>
        </label>
    </div>
    <div class="type-Photo">
        <h3>Фотографии</h3>
        <p class="titlePhoto">
            Сфотографируйте все комнаты, кухню, санузел, коридор, балкон, вид из окна, фасад здания,
            подъезд. Не используйте скриншоты. Максимум 20 фото до 10 Мбайт
        </p>
        <div class="photoConteiner" id="photoContainer">
        </div>
        <div class="fileInputPhoto">
            <div class="filePhotoContent">
                <input type="file" name="image[]" id="filePhoto" class="filePhoto" multiple>
            </div>
        </div>
    </div>
</div>