<div class="navHeaderContainer">
    <div class="headerImages">
        <a href="/"><img src="/1685742577_polinka-top-p-kartinka-doma-vkontakte-48.jpg" alt=""></a>
        <a href="/"><h2>Недвижимость</h2></a>
    </div>
</div>