<div class="map">
    <h3>Введите адрес</h3>
    <div class="map-content">
        <label for="address"> <input type="hidden"  name="address" id="address"></label>
        <div id="map"></div>
    </div>
</div>
