<div class="price-monthly-rental">
    <div class="Materials">
        <div class="title-parking">
            <p>
                Залог
            </p>
        </div>
        <div class="type-Materials">

            <div>
                <input type="text" name="amenitiesAndDetails[Deposit]" placeholder="Сумма/₽" class="inputDeposit">
            </div>
            <div>
                <button class="Without-collateral">0%</button>
            </div>
            <div>
                <button class="Deposit50">50%</button>
            </div>
            <div>
                <button class="Deposit100">100%</button>
            </div>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Торг
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="amenitiesAndDetails[Bidding]" id="radio17" class="parking-Materials"
                    value="Возможен">
                <label for="radio17">Возможен</label>
            </div>
            <div>
                <input type="radio" name="amenitiesAndDetails[Bidding]" id="radio18" class="parking-Materials"
                    value="Нет">
                <label for="radio18">Нет</label>
            </div>
        </div>
    </div>
</div>