<div class="price-daily-rental">
    <div class="Materials">
        <div class="title-parking">
            <p>
                Дополнительно
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="amenitiesAndDetails[Utility-bills]" id="radio70" class="parking-Materials"
                    value="Есть залог">
                <label for="radio70">Есть залог</label>
            </div>
            <div>
                <input type="radio" name="amenitiesAndDetails[Utility-bills]" id="71" class="parking-Materials"
                    value="Возможен торг">
                <label for="71">Возможен торг</label>
            </div>
            <div>
                <input type="radio" name="amenitiesAndDetails[Utility-bills]" id="radio72" class="parking-Materials"
                    value="Включены коммунальные услуги">
                <label for="radio72">Включены коммунальные услуги</label>
            </div>
        </div>
    </div>
</div>