<div class="rent-apartament-info-apartaments">
    <div class="rent-info-house">
        <div>
            <p>
                Этаж
            </p>
        </div>
        <div class="rentConstruction">
            <input type="number" name="infoApartments[ground-floor]">
            <p>
                из
            </p>
            <input type="number" name="infoApartments[last-floor]">
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Окна
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[Windows]" id="radio11" class="parking-Materials"
                    value="Во двор">
                <label for="radio11">Во двор</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Windows]" id="radio12" class="parking-Materials"
                    value="На улицу">
                <label for="radio12">На улицу</label>
            </div>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Санузел
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[Bathroom]" id="radio4" class="parking-Materials"
                    value="Совмещенный">
                <label for="radio4">Совмещенный</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Bathroom]" id="radio5" class="parking-Materials"
                    value="Раздельный">
                <label for="radio5">Раздельный</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Bathroom]" id="radio6" class="parking-Materials"
                    value="Более одного">
                <label for="radio6">Более одного</label>
            </div>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Балкон
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[Balcony]" id="radio1" class="parking-Materials"
                    value="Балкон">
                <label for="radio1">Балкон</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Balcony]" id="radio2" class="parking-Materials"
                    value="Лоджия">
                <label for="radio2">Лоджия</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Balcony]" id="radio3" class="parking-Materials"
                    value="Без балкона">
                <label for="radio3">Без балкона</label>
            </div>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Ремонт
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[Repair]" id="radio7" class="parking-Materials"
                    value="Косметический">
                <label for="radio7">Косметический</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Repair]" id="radio8" class="parking-Materials" value="Евро">
                <label for="radio8">Евро</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Repair]" id="radio9" class="parking-Materials"
                    value="Дизайнерский">
                <label for="radio9">Дизайнерский</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Repair]" id="radio10" class="parking-Materials"
                    value="Требуется">
                <label for="radio10">Требуется</label>
            </div>
        </div>
    </div>
</div>

