<div class="rent-amenitiesAndDetails">
    <div class="type-details">
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details10" class="sell-details-button"
                value="Интернет">
            <label for="details10"><img src="/wifi.png" alt="">Интернет</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details11" class="sell-details-button"
                value="Стиральная машина">
            <label for="details11"><img src="/zanussi-bathroom1.png" alt="">Стиральная машина</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details12" class="sell-details-button"
                value="Холодильник">
            <label for="details12"><img src="/file-refrigerator-icon-1167196.png" alt="">Холодильник</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details13" class="sell-details-button"
                value="Посудомойка">
            <label for="details13"><img src="/posudomoechnaya.png" alt="">Посудомойка</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details14" class="sell-details-button"
                value="Мебель на кухне">
            <label for="details14"><img src="/kitchen.jpg" alt="">Мебель на кухне</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details15" class="sell-details-button"
                value="Кондиционер">
            <label for="details15"><img src="/conditioner.png" alt="">Кондиционер</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details16" class="sell-details-button"
                value="Можно с животными">
            <label for="details16"><img src="/transparent-free.png" alt="">Можно с животными</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details17" class="sell-details-button"
                value="Можно с детьми">
            <label for="details17"><img src="/soska.jpg" alt="">Можно с детьми</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details18" class="sell-details-button"
                value="Мебель в квартире">
            <label for="details18"><img src="/mebel.png" alt="">Мебель в квартире</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details19" class="sell-details-button"
                value="Лифт">
            <label for="details19"><img src="/elevator.jpg" alt="">Лифт</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details20" class="sell-details-button"
                value="Мусоропровод">
            <label for="details20"><img src="/garbage.jpg" alt="">Мусоропровод</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details21" class="sell-details-button"
                value="Консьерж">
            <label for="details21"><img src="/hostel.png" alt="">Консьерж</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details22" class="sell-details-button"
                value="Телевизор">
            <label for="details22"><img src="/tv-led-backlit-lcd-display.png" alt="">Телевизор</label>
        </div>
        <div class="details-block">
            <input type="checkbox" name="amenitiesAndDetails[details]" id="details23" class="sell-details-button"
                value="Закрытая территория">
            <label for="details23"><img src="/boom-barrier.png" alt="">Закрытая территория</label>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Коммунальные платежи
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="amenitiesAndDetails[Utility-bills]" id="radio19" class="parking-Materials"
                    value="Только счетчики">
                <label for="radio19">Только счетчики</label>
            </div>
            <div>
                <input type="radio" name="amenitiesAndDetails[Utility-bills]" id="radio20" class="parking-Materials"
                    value="Вся квитанция">
                <label for="radio20">Вся квитанция</label>
            </div>
            <div>
                <input type="radio" name="amenitiesAndDetails[Utility-bills]" id="radio21" class="parking-Materials"
                    value="Включены в стоимость">
                <label for="radio21">Включены в стоимость</label>
            </div>
        </div>

    </div>
</div>

