<div class="rent-apartament-info-house">
      <h3>О доме</h3>
    <div class="info-house">
        <div class="yearConstruction">
            <p>
                Год постройки
            </p>
            <input type="number" name="infoHouse[yearConstruction]">
        </div>
        <div class="yearConstruction">
            <p>
                Высота потолков, м
            </p>
            <input type="number" name="infoHouse[ceilingHeight]">
        </div>
    </div>
    <div class="Materials">
            <div class="title-parking">
                <p>
                    Тип парковки
                </p>
            </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoHouse[typeOfParking]" id="radio14" class="parking-Materials"
                    value="Закрытая">
                <label for="radio14">Закрытая</label>
            </div>
            <div>
                <input type="radio" name="infoHouse[typeOfParking]" id="radio15" class="parking-Materials"
                    value="Открытая">
                <label for="radio15">Открытая</label>
            </div>
            <div>
                <input type="radio" name="infoHouse[typeOfParking]" id="radio16" class="parking-Materials"
                    value="Подземная">
                <label for="radio16">Подземная</label>
            </div>
        </div>
    </div>
</div>

