<div class="rentDom">
    <h3>Участок</h3>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Площадь участка
            </p>
        </div>
        <div class="rentCreateInput">
            <input type="number" name="infoApartments[plotArea]">
            <select name="hectare" id="">
                <option value="Соток">Соток</option>
                <option value="Гектаров">Гектаров</option>
            </select>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Тип участка
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[typeOfPlot]" id="radio22" class="parking-Materials" value="ИЖС">
                <label for="radio22">ИЖС</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[typeOfPlot]" id="radio23" class="parking-Materials"
                    value="Садовый">
                <label for="radio23">Садовый</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[typeOfPlot]" id="radio24" class="parking-Materials"
                    value="Фермерский">
                <label for="radio24">Фермерский</label>
            </div>
        </div>
    </div>
    <h3>О доме</h3>
    <div class="yearConstruction">
        <p>
            Площадь, м²
        </p>
        <input type="number" name="infoApartments[squareHouse]">
    </div>
    <div class="yearConstruction">
        <p>
            Кол-во этажей
        </p>
        <input type="number" name="infoApartments[numberOfFloors]">
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Тип дома
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[statusType]" id="radio25" class="parking-Materials"
                    value="Отдельный дом">
                <label for="radio25">Отдельный дом</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[statusType]" id="radio26" class="parking-Materials"
                    value="Часть дома">
                <label for="radio26">Часть дома</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[statusType]" id="radio27" class="parking-Materials"
                    value="Таунхаус">
                <label for="radio27">Таунхаус</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[statusType]" id="radio28" class="parking-Materials"
                    value="Дуплекс">
                <label for="radio28">Дуплекс</label>
            </div>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Материал
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[Material]" id="radio29" class="parking-Materials"
                    value="Кирпичный">
                <label for="radio29">Кирпичный</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Material]" id="radio30" class="parking-Materials"
                    value="Монолитный">
                <label for="radio30">Монолитный</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Material]" id="radio31" class="parking-Materials"
                    value="Панельный">
                <label for="radio31">Панельный</label>
            </div>

            <div>
                <input type="radio" name="infoApartments[Material]" id="radio32" class="parking-Materials"
                    value="Блочный">
                <label for="radio32">Блочный</label>
            </div>

            <div>
                <input type="radio" name="infoApartments[Material]" id="radio33" class="parking-Materials"
                    value="Деревянный">
                <label for="radio33">Деревянный</label>
            </div>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Санузел
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[Bathroom]" id="radio34" class="parking-Materials"
                    value="В доме">
                <label for="radio34">В доме</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Bathroom]" id="radio35" class="parking-Materials"
                    value="На улице">
                <label for="radio35">На улице</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Bathroom]" id="radio36" class="parking-Materials"
                    value="Отсутствует">
                <label for="radio36">Отсутствует</label>
            </div>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking">
            <p>
                Душ
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="infoApartments[Shower]" id="radio37" class="parking-Materials" value="В доме">
                <label for="radio37">В доме</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Shower]" id="radio38" class="parking-Materials"
                    value="На улице">
                <label for="radio38">На улице</label>
            </div>
            <div>
                <input type="radio" name="infoApartments[Shower]" id="radio39" class="parking-Materials"
                    value="Отсутствует">
                <label for="radio39">Отсутствует</label>
            </div>
        </div>
    </div>
</div>