<h3>О квартире</h3>
<div class="MaterialsRoomsHouse">
    <div class="Square">
        <p>
            Комнат
        </p>
    </div>
    <div id="houseCountRoom">
        <input type="radio" name="infoApartments[dealNumberOfRooms]" id="dealNumber2" class="dealNumber" value="2">
        <label for="dealNumber2">2</label>
        <input type="radio" name="infoApartments[dealNumberOfRooms]" id="dealNumber3" class="dealNumber" value="3">
        <label for="dealNumber3">3</label>
        <input type="radio" name="infoApartments[dealNumberOfRooms]" id="dealNumber4" class="dealNumber" value="4">
        <label for="dealNumber4">4</label>
    </div>
</div>
<div class="MaterialsRoomsHouse">
    <div class="Square">
        <p>
            Комнат в сделке
        </p>
    </div>
    <div id="houseCountRoom">
        <div id="roomsInDeal5" style="display: none;">
            <input type="number" name="infoApartments[roomsInDeal]">
            <p>Комната 1</p>
        </div>
        <div id="roomsInDeal6" style="display: none;">
            <input type="number" name="infoApartments[roomsInDeal]">
            <p>Комната 2</p>
        </div>
        <div id="roomsInDeal7" style="display: none;">
            <input type="number" name="infoApartments[roomsInDeal]">
            <p>Комната 3</p>
        </div>
    </div>
</div>
<div class="MaterialsRoomsHouse">
    <div class="Square">
        <p>
            Площадь, м²
        </p>
    </div>
    <div class="divCreateInput">
        <div class="createInput">
            <input type="number" name="infoApartments[squareApartmentDeal]">
            <p>
                Общая
            </p>
        </div>
        <div class="createInput">
            <input type="number" name="infoApartments[ResidentialDeal]">
            <p>
                Жилая
            </p>
        </div>
        <div class="createInput">
            <input type="number" name="infoApartments[KitchenDeal]">
            <p>
                Кухня
            </p>
        </div>
    </div>
</div>

