<div class="sale-price">
    <div class="Materials">
        <div class="spanRadioDiv">
            <div class="pSpan">
                Продажа
                <div class="tooltip-toggle">
                    <img src="/490-20220208_234849.png" alt="" class="tooltip-icon">
                    <div class="tooltip-text">Свободная продажа — самостоятельная сделка, не зависящая от
                        других
                        сделок.
                        Альтернатива — одновременная сделка по продаже одного объекта недвижимости и
                        приобретению
                        другого.
                        Переуступка — это приобретение имущественных прав по договору долевого участия. В
                        этом
                        случае у продавца нет права собственности на жильё, а сам объект, как правило, ещё
                        не
                        сдан.
                    </div>
                </div>
            </div>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="amenitiesAndDetails[transactionType]" id="radio85" class="parking-Materials"
                    value="Свободная продажа">
                <label for="radio85">Свободная</label>
            </div>
            <div>
                <input type="radio" name="amenitiesAndDetails[transactionType]" id="radio86" class="parking-Materials"
                    value="Альтернатива">
                <label for="radio86">Альтернатива</label>
            </div>
            <div>
                <input type="radio" name="amenitiesAndDetails[transactionType]" id="radio87" class="parking-Materials"
                    value="Переуступка">
                <label for="radio87">Переуступка</label>
            </div>
        </div>
    </div>
    <div class="Materials">
        <div class="title-parking" >
            <p>
                Дополнительно
            </p>
        </div>
        <div class="type-Materials">
            <div>
                <input type="radio" name="amenitiesAndDetails[additionally]" id="radio41" class="parking-Materials"
                    value="Воможен торг">
                <label for="radio41">Возможен торг</label>
            </div>
            <div>
                <input type="radio" name="amenitiesAndDetails[additionally]" id="radio42" class="parking-Materials"
                    value="Ипотека">
                <label for="radio42">Ипотека</label>
            </div>
        </div>
    </div>
</div>
