<h3>Новое объявление</h3>
<div class="types-announcement">
    <div class="type-announcement-block" id="To-sell">
        <input type="radio" name="sellButton" id="radioAnnouncement1" class="sell-button" value="Купить">
        <label for="radioAnnouncement1"><img src="/686915.png" alt="">Продать</label>
    </div>
    <div class="type-announcement-block" id="TakeLongTimePass">
        <input type="radio" name="sellButton" id="radioAnnouncement2" class="sell-button" value="Снять длительно">
        <label for="radioAnnouncement2"><img src="/945912.png" alt="">Сдать длительно</label>
    </div>
    <div class="type-announcement-block" id="RentByDay">
        <input type="radio" name="sellButton" id="radioAnnouncement3" class="sell-button" value="Снять посуточно">
        <label for="radioAnnouncement3"><img src="/img_179617.png" alt="">Сдать посуточно</label>
    </div>
</div>
<h3>Выберите тип недвижимости</h3>
<div class="types-announcement">
    <div class="type-announcement-block">
        <input type="radio" name="typeOfProperty" id="radioAnnouncement4" class="sell-button" value="Квартира">
        <label for="radioAnnouncement4"><img src="/1638543710_10-bigfoto-name-p-ikonki-dlya-planirovki-kvartiri-13.png"
                alt="">Квартира</label>
    </div>
    <div class="type-announcement-block">
        <input type="radio" name="typeOfProperty" id="radioAnnouncement5" class="sell-button" value="Комната">
        <label for="radioAnnouncement5"><img src="/room.png" alt="">Комната</label>
    </div>
    <div class="type-announcement-block">
        <input type="radio" name="typeOfProperty" id="radioAnnouncement6" class="sell-button" value="Дом">
        <label for="radioAnnouncement6"><img src="/dom.png" alt="">Дом</label>
    </div>
</div>