.editPageContent {
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;

  padding: 10px;
}

.editPageContent h4 {
  text-align: center;
}
.editTitleConteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 20px 10px;
}

.editTitle {
  width: 40%;
}

.fileEdit::before,
.filePhotoEdit::before {
  content: "Выбрать файлы";
  border: 1px solid gray;
  margin-right: 5px;
}
.fileEdit::-webkit-file-upload-button,
.filePhotoEdit::-webkit-file-upload-button {
  display: none;
}

.editConteiner p {
  font-size: 20px;
  color: blue;
}
.fileEdit::before,
.filePhotoEdit::before,
#fileEditStyle input,
.editTextarea,
.edit-block,
.editFloor,
.editConteiner input,
.editTitle select,
.editConteiner select {
  padding-left: 5px;
  font-size: 18px;
}

.editConteiner p {
  margin-left: 5px;
  margin-bottom: 0;
}
.editTitle select {
  border-radius: 5px;
  width: 100%;
  height: 30px;
}
.editConteiner select {
  height: 30px;
  border-radius: 5px;
  width: 100%;
}
.containerEdit {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}
.editTextarea {
  width: 100%;
  height: 200px;
}
.editDetailBlock {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, auto));
}
.edit-block {
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.editConteiner {
  /* border: 1px solid  gray; */
  -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.editConteiner input {
  height: 30px;
  border-radius: 5px;
  width: 100%;
}
input[type="radio"].editBtn {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  border-radius: 50px;
  margin-right: 10px;
}
.editFloor {
  display: flex;
  flex-direction: row;
}
.editFloor input {
  width: 45%;
}
.editPhotoConteiner {
  width: 100%;
}

#btnEdit {
  width: 98%;
  background-color: #6ab5fc;
  border-radius: 10px;
  margin: 1%;
  padding: 5px;
  border: 2px solid blue;
}

#btnEdit:hover {
  background-color: rgba(5, 92, 255, 0.842);
  color: #fff;
}
.editDepositBtn {
  width: 100%;
  /* background-color: rgb(253, 255, 109); */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, auto));
}
.editDepositBtn div {
 
  margin-right: 10px;
  /* background-color: #f55e5e; */
}
.editDepositBtn button {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
}
.editConteiner{
  position: relative;
}
.btnXEdit {
  position: absolute;
  top: 68%;
  right: 10px;
  transform: translateY(-52%);
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.btnXEdit img {
  width: 15px;
}



@media screen and (min-width: 768px) and (max-width: 1199px) {
  .editConteiner p {
    font-size: 18px;
  }
  .fileEdit::before,
  .filePhotoEdit::before,
  #fileEditStyle input,
  .editTextarea,
  .edit-block,
  .editFloor,
  .editConteiner input,
  .editTitle select,
  .editConteiner select {
    padding-left: 5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .editTitleConteiner {
    display: flex;
    flex-direction: column;
  }
  .editConteiner p {
    font-size: 16px;
  }
  .createInput p,
  .fileEdit::before,
  .filePhotoEdit::before,
  #fileEditStyle input,
  .editTextarea,
  .edit-block,
  .editFloor,
  .editConteiner input,
  .editTitle select,
  .editConteiner select {
    padding-left: 5px;
    font-size: 15px;
  }
  .editTitle {
    width: 100%;
    margin-top: 5px;
  }
  .containerEdit {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  }
  .editTextarea {
    width: 100%;
    height: 200px;
  }
  .editDetailBlock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  }
}
